html,
body {
  /* height of these elements */
  /* height: 100%; */

  /* no margin around these elements */
  /* margin-left: -100px; */
  width: 100%;
  /* disable scrollbars */
  overflow: hidden;
  height: 100%;
  /* no padding within these elements */
  padding: 0;
  /* transform: translate(-50%, 0); */
  /* font-size: 20px; */
  color: grey;
}
.u-relative {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  #text {
    font-size: 12px;
    height: 75%;
  }
  #quote-box {
    /*     margin-top: 10px !important; */
    width: 80% !important;
    transform: translate(10%, 5%) !important;
    height: 60% !important;
  }
}

#quote-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px 15px 10vh 15px;
  margin-top: 0px;
  height: 50%;
}

#text,
#author {
  font-family: "Arial";
  font-weight: 600;
}
@media only screen and (min-width: 600px) {
  #text {
    font-size: 20px;
    height: 90%;
  }
}
@media only screen and (min-width: 1000px) {
  #quote-box {
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  #quote-box {
    width: 70%;
    transform: translate(20%, 30%);
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  #quote-box {
    width: 80%;
    transform: translate(10%, 30%);
  }
}
@media only screen and (max-width: 500px) {
  #quote-box {
    width: 90%;
    transform: translate(5%, 30%);
  }
}

@media only screen and (max-width: 390px) {
  .button {
    font-size: 10px;
    width: 100%;
  }
}
@media only screen and (min-width: 390px) {
  .button {
    font-size: 16px;
    width: 49%;
  }
}
#title {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  color: white;
}
.button {
  background-color: rgb(112, 127, 223);
  height: 100%;
  text-align: center;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  -webkit-transition-duration: 0.8s; /* Safari */
  transition-duration: 0.8s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  /*     color: rgba(215, 83, 227, 0.7); */
}
a:hover {
  text-decoration: none;
  color: white;
}
.button-box {
  margin-top: 30px;
  position: relative;
}
